body {
  background: rgb(0, 0, 0);
}

nav-link {
  font-family: "Playfair Display";
  color: white;
}

h1 {
  font-size: 64px;
  color: white;
  font-family: "Roboto";
  padding: 10px;
}

h2 {
  color: white;
  font-size: 64px;
  font-family: "Playfair Display";
  padding: 5px;
  padding-top: 25px;
}

h4 {
  color: white;
  font-family: "Playfair Display";
  font-size: 25px;
  padding: 5px;
}

h5 {
  color: white;
  font-family: "Playfair display";
  text-align: center;
}

footer {
  font-family: "Roboto";
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 60px 0;
}

.nav-link:hover {
  color: rgb(255, 235, 210);
}

.hero {
  padding: 55px;
  text-align: center;
}

.homepage-image {
  border-radius: 10px;
  border: 2px solid lightgrey;
  text-align: center;
}

.container {
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.homepage {
  font-family: "Playfair Display";
  text-align: right;
}

.about {
  color: white;
}

.about:hover {
  color: rgb(255, 235, 210);
}

.contact {
  color: white;
}

.contact:hover {
  color: rgb(255, 235, 210);
}
.projects {
  color: white;
}

.projects:hover {
  color: rgb(255, 235, 210);
}

.about-title {
  margin: 80px;
  margin-bottom: -20px;
  font-family: "playfair display";
  text-align: center;
}

.about-image {
  border-radius: 10px;
  border: 2px solid lightgrey;
  text-align: center;
}

.about-info {
  font-family: "roboto";
  color: white;
  text-align: center;
}

.about-page-bottom {
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  text-align: center;
}

.project-header {
  margin: 80px;
  margin-bottom: -20px;
  text-align: center;
  font-family: "Playfair Display";
}

.project-image {
  border-radius: 10px;
  border: 2px solid lightgrey;
  text-align: center;
  margin: 30px;
}

.project-link {
  text-align: center;
  font-family: "Roboto";
}

.project-link:hover {
  cursor: pointer;
  opacity: 0.7;
  color: rgb(255, 235, 210);
}

.contact-header {
  margin: 80px;
  margin-bottom: -20px;
  text-align: center;
  font-family: "Playfair Display";
}

.contact-subheading {
  text-align: center;
  font-family: "roboto";
  font-size: 25px;
}

.contact-email {
  text-decoration: none;
  color: white;
}

.contact-email:hover {
  cursor: pointer;
  opacity: 0.7;
  color: rgb(255, 235, 210);
}
