body {
  background: rgb(0, 0, 0);
}

nav-link {
  font-family: "Playfair Display";
  color: white;
}

h1 {
  font-size: 64px;
  color: white;
  font-family: "Roboto";
  padding: 10px;
}

h2 {
  color: white;
  font-size: 64px;
  font-family: "Playfair Display";
  padding: 5px;
  padding-top: 25px;
}

h4 {
  color: white;
  font-family: "Playfair Display";
  font-size: 25px;
  padding: 5px;
}

.hero {
  padding: 55px;
  text-align: center;
}

.homepage-image {
  border-radius: 10px;
  border: 2px solid lightgrey;
  text-align: center;
}

.container {
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.homepage {
  font-family: "Playfair Display";
  text-align: right;
}

.about {
  color: white;
}

.about:hover {
  color: rgb(255, 235, 210);
}

.contact {
  color: white;
}

.contact:hover {
  color: rgb(255, 235, 210);
}
.projects {
  color: white;
}

.projects:hover {
  color: rgb(255, 235, 210);
}
